/***** Definición de los estilos globales *****/
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/***** Definición de los estilos del header *****/
header {
  width: 100%;
  height: 60px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a {
  margin-right: 10px;
  color: #000000;
}
nav .nav-right-section a:hover {
  text-decoration: underline;
}
nav .nav-right-section span:hover {
  background-color: rgba(60,64,67,.08);
  outline: none;
}
nav .nav-right-section img:hover {
  background-color: rgba(60,64,67,.08);
  outline: none;
}
nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}
nav .nav-right-section li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***** Definición de los estilos del main *****/
main {
  margin-top: 150px;
  text-align: center;
}
main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-logo img {
  width: 292px;
  height: 92px;
}
main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
main .main-input input {
  flex-grow: 1;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
main .main-input .icon {
  padding: 0 8px;
  font-size: 24px;
}
main .main-input-container .search-icon {
  padding-right: 13px;
  font-size: 22px;
}
main .main-buttons {
  width: inherit;
  margin: 0 auto;
}
main .main-buttons div {
  display: inline-block;
}
main .main-buttons button {
  height: 36px;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}
main .main-buttons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222222;
  cursor: pointer;
}